///////////////
/* FONT FACE */
///////////////
@font-face {
  font-family: "bodoni-book";
  src: url("/assets/fonts/Bodoni_book.ttf");
}

@font-face {
  font-family: "metric-light";
  src: url("/assets/fonts/MetricLight.woff");
}

@font-face {
  font-family: "metric-medium";
  src: url("/assets/fonts/MetricMedium.woff");
}




///////////////////
/* GENERAL SETUP */
///////////////////

body {
  background: var(--second-color);
  font-family: 'metric-light', sans-serif;
  color: var(--text-color);

  --main-color: #7D1829;
  --text-color: #302828;
  --second-color: #F3E8E4;
}

.m-top-32 {
  margin-top: 32px;
}

.red {
  color: var(--main-color);
}

.hidden-desktop, .logo-mobile {
  display: none;
}



///////////////////////
/* NAVIGATION SYSTEM */
///////////////////////


/* Bootstrap navbar custom */

.navbar {
  padding: 25px;
}

.navbar-brand {
  padding: 0;
}

.navbar, .navbar-brand {
  border: none;
}

.navbar-toggler {
  padding: 10px !important;
  border: 1px solid var(--main-color) !important;
  color: var(--main-color) !important;
  border-radius: 0px;
}

.navbar-toggler-icon {
  width: 28px !important;
  height: 28px !important;
}

.navbar-collapse {
  margin-top: 8px;
  border: 1px solid var(--main-color);
}

.navbar-text a {
  margin-left: 24px;
  text-shadow: none;
  font-size: 20px;
  color: var(--main-color) !important;
  text-decoration: none;
}

.navbar-text a:hover {
  color: var(--main-color) !important;
}

.navbar-text .btn-sources {
  padding: 10px 20px 5px 20px;
  background: var(--second-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
  transition: all 200ms ease-in;
}

.navbar-text .btn-sources:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--second-color) !important;
  text-decoration: none;
}


/* Mobile navigation */

.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/menu.svg") !important;
}

.mobile-link {
  font-size: 20px;
  text-shadow: none;
  padding: 16px 16px 0px 16px;
}

.mobile-link a {
  color: var(--text-color);
}

.btn-mobile {
  background-color: var(--main-color);
  font-size: 20px;
  text-shadow: none;
  padding: 16px;
  margin-top: 8px;
}

.btn-mobile a {
  position: relative;
  top: 3px;
}


/* Link effect and styling */

.link-effect {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;
}

.link-effect:hover {
  text-decoration: none;
}

.link-effect:before, .link-effect:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: currentColor;
  z-index: 0;
  height: 1px;
}

.link-effect:before {
  width: 0;
  transition: width ease 0.4s;
}

.link-effect:after {
  width: 100%;
  transition: all ease 0.6s;
}

.link-effect:hover:before {
  width: 100%;
}

.link-effect:hover:after {
  left: 100%;
  width: 0%;
  transition: all ease 0.2s;
}




//////////////////
/* PRESENTATION */
//////////////////

.presentation {
  padding: 10px 0px 80px 0px;
  background: var(--second-color);
  color: var(--text-color);
  overflow: hidden;
}


/* Presentation headline */

.presentation .headline {
  text-align: left !important;
  color: var(--main-color);
}

.headline {
  position: relative;
  text-align: center
}

.headline h1 {
  font-size: 40px;
  font-family: 'bodoni-book', serif;
}

.headline h2 {
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 26px;
}

.headline h1, .headline h2 {
  text-shadow: none;
  line-height: 130%;
}


/* Presentation content */

.presentation-content {
  position: relative;
  padding: 0px 25px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.presentation-desc {
  position: relative;
  font-size: 24px;
  line-height: 150%;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.presentation-desc p {
  position: relative;
  margin-bottom: 8px;
}

.presentation-desc a {
  transition: all 200ms ease-in;
  color: var(--main-color);
}




/////////
/* MAP */
/////////

.map-container {
  padding: 25px;
}

#map-area {
  border: 1px solid var(--main-color);
  font-size: 16px;
}


/* Filters */

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 8px;
}

.filters button {
  font-size: 20px;
  margin-right: 4px;
  padding: 10px 30px 5px 30px;;
  transition: all 200ms linear;
  outline: 0;
  background: var(--second-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  transition: all 200ms ease-in;
}

.filters button:hover {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--second-color);
}

.filters .no-active:hover {
  background: var(--second-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.filters .active {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--second-color);
}


/* Legends */

.legends {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.legend-text {
  font-size: 20px;
  position: relative;
  top: 3px;
  margin-left: 8px;
}

.legend-tip {
  display: flex;
  margin-bottom: 8px;
}

.color-tip {
  display: block;
  width: 60px;
  height: auto;
  font-size: 14px;
  margin-right: 4px;
}


/* Legends colors */

.decreasing {
  background-color: var(--main-color);
}

.strong {
  background-color: #C31E39;
}

.loose {
  background-color: #F3AD44;
}

.no-policy {
  background-color: #FFFFFF;
}

.no-data {
  background-color: #C4C4C4;
}


/* Map tooltips */

.d3-tip {
  transition: all 200ms ease-out;
  background-color: var(--text-color) !important;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
   color: var(--second-color);
}

.d3-tip:before {
  background-color: var(--text-color) !important;
}

.d3-tip .tip-country {
  position: relative;
  top: 1px;
}

.d3-tip .tip-details {
  position: relative;
  top: 1px;
}

.d3-tip .tip-status {
  position: relative;
  top: 3px;
  font-family: 'metric-medium', sans-serif;
}


////////////
/* Footer */
////////////

footer {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: var(--second-color);
  background-color: var(--main-color);
}




////////////////
/* Responsive */
////////////////

@media only screen and (max-width: 650px) {
  .hidden-mobile, .logo-desktop {
    display: none;
  }

  .hidden-desktop, .logo-mobile  {
    display: initial;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column-reverse;
  }

  .legends {
    justify-content: center;
  }

  .footer-desc {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .headline h2 {
    font-size: 20px;
  }

  .headline h1 {
    font-size: 32px;
  }

  header nav a {
    font-size: 18px;
    margin-left: 16px;
  }

  .presentation-desc a, .legend-text, .presentation-desc p {
    font-size: 18px;
  }
}
