<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="presentation-container">
      <div class="presentation-content">
        <div class="headline-left">
          <h1>
            About us
          </h1>
          <h2>Subtitle 1</h2>
        </div>

        <div class="presentation-desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <a href="#" class="link-effect">Link 1</a>
        </div>
        
        <div class="headline-left m-top">
            <h2>Subtitle 2</h2>
        </div>

        <div class="presentation-desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <a href="#" class="link-effect">Link 2</a>
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>
</html>
