<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <div class="map-container">
      <div class="headline">
        <h1>Roadmap to <span class="bold">C</span>ovid<span class="bold red"><b>19</b></span> Suppression</h1>
        <h2>We are tracking government response to the Covid-19 outbreak.</h2>
      </div>

      <div class="filters">
        <button class="active">World</button>
        <button disabled class="disable">USA <span>(soon)</span></button>
      </div>

      <div id="map-area"></div>

      <div class="legends">
        <span>Current Status:</span>
        <div class="legend-tip">
          <span class="decreasing"></span>
          Stabilized for now
        </div>

        <div class="legend-tip">
          <span class="strong"></span>
          Strong lockdown policy
        </div>

        <div class="legend-tip">
          <span class="loose"></span>
          Loose lockdown policy
        </div>

        <div class="legend-tip">
          <span class="no-data"></span>
          No action taken yet
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/queue.v1.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="js/d3-tip.js"></script>
  <script src="js/map.js"></script>
</html>
