<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="map-container">
      <div class="headline">
        <h1>
          Roadmap to <b>C</b>ovid-<b><span class="red">19</span></b> Suppression
        </h1>
        <h2>We are tracking government response to the Covid-<span class="red">19</span> outbreak.</h2>
      </div>

      <div class="filters">
        <button id="nav-world" class="active">World</button>
        <button id="nav-us">USA</button>
      </div>

      <div id="map-area"></div>

      <div class="legends">
        <span class="legend-title">Legend:</span>
        
        <div class="legend-tip">
          <span class="color-tip decreasing"></span>
          <span class="legend-text">Stabilized for now</span>
        </div>

        <div class="legend-tip">
          <span class="color-tip strong"></span>
          <span class="legend-text">Strong lockdown policy</span>
        </div>

        <div class="legend-tip">
          <span class="color-tip loose"></span>
          <span class="legend-text">Loose lockdown policy</span>
        </div>

        <div class="legend-tip">
          <span class="color-tip no-policy"></span>
          <span class="legend-text">No action taken yet</span>
        </div>

        <div class="legend-tip">
          <span class="color-tip no-data"></span>
          <span class="legend-text">No data available</span>
        </div>
      </div>
    </div>

    <div class="presentation">
      <div class="presentation-content">
        <div class="headline">
          <h1>
            How to understand this map
          </h1>
          <h2>Subtitle</h2>
        </div>

        <div class="presentation-desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde neque atque itaque ut, sed enim tempora hic nesciunt, eligendi perferendis quas quis. Facilis totam aut saepe quo at voluptate pariatur!
          </p>
          <a href="#" class="link-effect">Our methodology</a>
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/queue.v1.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="js/d3-tip.js"></script>
  <script src="js/map.js"></script>
  <script src="js/nav.js"></script>
</html>
